CREATE TABLE service_tasks ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), issue_id UUID REFERENCES maintenance_requests(id) ON DELETE CASCADE, asset_id UUID REFERENCES assets(id) ON DELETE CASCADE, assigned_to UUID REFERENCES users(id) ON DELETE SET NULL, assigned_by UUID REFERENCES users(id) ON DELETE SET NULL, priority TEXT NOT NULL DEFAULT 'medium', status TEXT NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'in_progress', 'completed')), created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(), updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW() );
